<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>makerfare.in/mulhouse</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/main.css">
		<script src="js/vendor/modernizr-2.6.2.min.js"></script>
	</head>
	<body>
		<section id="main">
			<header>
				<img src="img/logo2.png" alt="logo makerfare">
				<div id="menuContainer">
					<ul>
						<li><a href="#projekt">Projekt</a></li><li><a href="#programm">Programm</a></li><li><a href="#workshops">Workshops</a></li><li><a href="#kontakt">Kontakt</a></li>
					</ul>
					<a href="#main">Nach oben</a> 
				</div>
			</header>
			<section id="content" role="main">
				<div id="sliderOuter">
					<ul id="slider" class="clearfix">
						<li>
							<img src="img/IMG_9745bearb.jpg">
							<div class="sliderInfo">
								<h3>Titel</h3>
								<p>dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec</p>
							</div>	
						</li>
						<li>
							<img src="img/IMG_9970bearb.jpg">
							<div class="sliderInfo">
								<h3>Titel</h3>
								<p>dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec</p>
							</div>	
						</li>
						<li>
							<img src="img/panorama1bearb.jpg">
							<div class="sliderInfo">
								<h3>Titel</h3>
								<p>dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec</p>
							</div>	
						</li>
					</ul>
				</div>
				<article class="clearfix" id="projekt">
					<!-- fliesstext mit bildern -->
					<h1>Projekt</h1>
					<h2>Design - Prozesse - Transformation</h2>
					<p>
					Wie mag die Zukunft unserer T&auml;tigkeit wohl aussehen? Wo trifft Design auf den Transformationsprozess,
					der ein Selbstverst&auml;ndnis entwickelt, in dem das eigene Tun manifestiert, aber
					auch reflektiert wird? Wo werden Qualit&auml;ten zum Ausdruck gebracht, die durch ein nachhaltiges
					und gesellschaftlich verzahntes Handeln zu neuen Formen von Design f&uuml;hren? Wie sehen
					Antworten auf die oder Strategien zur postindustriellen Situation aus? Wo ist der Aufbruch
					bereits sp&uuml;rbar? Wo macht es Spass, dabei zu sein, ohne dass man sich kritischen Fragen
					entzieht?
					</p>
					<p>
					An einem dreit&auml;gigen Festival &ndash; einem Mix aus Workshop, MakerLab, Symposium und Event &ndash;
					versuchen wir, dem aktuellen Design-Diskurs ein Gesicht zu geben. Wir wollen herausfinden,
					welche Werte wir wichtig finden, wie wir agieren und unsere eigene Zukunft gestalten wollen.
					Dazu bereiten wir mit Mitstreitern wie Du und Ihr es seid, ein vielschichtiges Programm vor.
					Das Ziel ist nicht klar definiert; vielmehr geht es darum, dass man bereit ist, sich mit gleich und
					anders Gesinnten auszutauschen - seine Idee und Begrifflichkeit von Design zu erl&auml;utern, aber
					auch im Kontext der Veranstaltung zu erkennen, welches Potenzial es zu entdecken gilt und wie
					es in den Designkontext zu transferieren w&auml;re.
					</p>
					<p>
					Dazu erleben wir Workshops zu Maker-Themen wie:
					Bambus als nachhaltiger Rohstoff; digitale Produktionsmedien wie 3D-Drucken oder
					Rapid Prototyping, aber auch Lasercutten und Maschinen, die mit dem Schlagwort
					&bdquo;Verantwortbare Produktgestaltung&ldquo; kombiniert werden. <br>
					Ein weiteres Projekt nutzt partizipative Elemente um Tr&auml;ume zu erforschen, und transformative
					Prozesse zu erleben. Dar&uuml;ber hinaus sind auch Firmen und Projekte eingeladen, die sich vor
					Ort pr&auml;sentieren werden. Und es gibt Workshops zum Thema &bdquo;Build Your Own Future&ldquo;: Wir
					gehen dem Thema Selbstentdeckung und Verwirklichung im Alltag als Designer nach.
					Ein Symposium zum Thema &bdquo;Verdeutlichung realer Momente des Aufbruchs&ldquo; versucht,
					Fragen und Formen einer zeitgem&auml;ssen Handlungsebene im Bereich
					Design und Zukunftsgestaltung nachzugehen. 
					</p>
					<p>
					Als weiteren H&ouml;hepunkt gibt es am Freitag 24. Mai eine Er&ouml;ffnungsfeier durch den Betreiber
					Verein motoco und am Abend eine gem&uuml;tliche Party. <br>
					Am Samstag findet dann ein Begegnungstag statt, an dem wir R&uuml;ckschau auf die beiden
					Vortage halten und dem breiteren Publikum Rede und Antwort stehen k&ouml;nnen.
					</p>
					<h2>Was will motoco?</h2>
					<p>Der nicht profitorientierte Verein motoco will eine offene Laborsituation schaffen zu Aspekten einer postindustriellen Gesellschaft. Konkret geschieht dies durch im Rahmen der Umnutzung einer Fabrik &ndash; der Umbauprozess wirkt als unsere Versuchsanlage, um uns projektorientiert mit Bildung, Arbeit und Technologien auseinanderzusetzen.
					</p>
					<h2>Aufbauarbeit</h2>
					<p>Initiativen und Institutionen aus Bildung und Wirtschaft werden durch partnerschaftliche Projekte in die Gemeinschaft von motoco eingebunden. Dazu werden offene Studieng&auml;nge konzipiert, Dachg&auml;rten und Werkst&auml;tten eingerichtet, Festivals organisiert, Sitz&ouml;fen gemauert, open-Air Theaterr&auml;ume eingerichtet, Forschungsmittel angeworben.</p> 
					<h2>Transformationsprozess</h2>
					<p>Im Verbund mit Berufsschulen, jungen Unternehmen und Hochschulen, soll von motoco auf dem DMC-Gel&auml;nde ein Ort des gesellschaftlichen Experiments geschaffen werden. motoco wird aktuell als trinationales Kulturprojekt mit triptic-Mitteln gef&ouml;rdert und inhaltlich durch die Experten der Internationalen Bauausstellung IBA Basel 2020 begleitet.</p> 
					<h2>Finanzierungsmodell</h2>
					<p>Ein Gro&szlig;teil der Arbeiten soll auf ehrenamtlicher Basis von den zuk&uuml;nftigen Mietpartnern sowie von beteiligten Berufsschulen und sozialen Integrationsprojekten geleistet werden. So kann von bezahlbaren Mieten f&uuml;r sicherheitstechnisch zul&auml;ssige und attraktive R&auml;ume ausgegangen werden.</p>
					<h2>Projektleitung &amp; Hauptmieter</h2>
					<p>Der Prozess wird getragen und geleitet durch motoco. Der Verein wirkt als Bauleiter und Hauptmieter. Dank einer fr&uuml;h im Prozess einsetzenden, hohen Sichtbarkeit und der integrierenden Vorgehensweise vermag motoco Untermietvertr&auml;ge mit attraktiven Partnern vorzulegen. Der Einzug in das minimal umgebaute Geb&auml;ude ist auf Herbst 2014 vorgesehen.</p>

				</article>
				<article id="programm" class="clearfix">
					<!-- blöcke mit listen -->
					<h1>Programm</h1>
					<div class="block">
						<h2>Donnerstag 23. Mai</h2>
						<ul>
							<li>
							<span>10.30 - 16.00</span> Workshops
							</li>
								<li>
								<span>Makerlab</span>
									<ul>
										<li>
										<p>3D Printer / Open Source Lasercutter</p>
										</li>
										<li>
										<p>Sun Engraving / Traumzelt</p>
										</li>
										<li>
										<p>Digital Hacker-Stitching</p>
										</li>
									</ul>
								</li>
									
								<li>
									<span>Art</span>
									<ul>
										<li>
											<p>Streetart, Green Graffiti</p>
										</li>
									</ul>
								</li>
								<li>
									<span>Theorie</span>
									<ul>
										<li>
										<p>Future&amp;my self</p>
										</li>
										<li>
										<p>Denk-Ding (nachhaltiges Design)</p>
										</li>
									</ul>
								</li>
						</ul>

					</div><div class="block">
						<h2>Freitag 24. Mai Er&ouml;ffnungsfeier und Talks</h2>
						<ul>
							<li>
								<span>10.00 - 12.00</span> Er&ouml;ffnungsrede
								<p>Verein motoco und Stadt Mulhouse</p>
							</li>
						<li>
						<span>11.00 - 13.00</span> Apero Riche, Gastronauten 
						</li>
						<li>
						<span>12.00 - 16.30</span> Talks &amp; Symposium 
						<p>Reale Momente des Aufbruchs mit
						HGK Alumni, Chambre du Commerce d&lsquo;Alsace
						und Design am Oberrhein, Alternative Bank
						Schweiz, Gemeinwohl &Ouml;konomie, Barkcloth, wemake.it und andere</p>
						</li>
						<li>
						<p>Die Workshops laufen Parallel dazu</p>
						</li>
						<li>
						<p>Druckbus</p>
						<p>die mobile Siebdruckstation, Taschen und Kleider bedrucken</p>
						</li>
						<li>
						<span>16.30 - 20.00</span> Essen, Gastronauten 
						<p>Sound- und Barbetrieb ab 18.00</p>
						</li>
						</ul>
					</div>
				</article>
				<article id="workshops" class="clearfix">
					<!-- blöcke mit einführung, fliesstext und bild -->
					<h1>Workshops</h1>
					<p>
					Mit mehreren Workshops, aus verschiedenen Perspektiven zum Thema Design&amp;Transformation, zeigen wir Gestaltungsformen, die junge Designer sich als Ausdrucks- und Arbeitsfelder ausgesucht haben. Teilweise sind es aktuell Diplomierende aus dem Prozesslehrgang vom Hochschulinstitut HyperWerk in Basel aber auch Freischaffende und ehemalige Designstudenten.
					</p>
					<div class="block">
						<h2>Bambus und Open Source Lasercutter</h2>
						<div class="intro clearfix">
							<div class="smallInfoBox">
								<p>Pan Thurneysen</p>
								<p>Montag, 26.10</p>
								<p>von 16.00 - 18.00 Uhr</p>
							</div>
							<p>Im Workshop sollen anhand von praktischen Versuchen die Funktionsweise eines Opensource Lasers in Verbindung mit dem Material Bambus erlernt und neue Bearbeitungsformen entwickelt werden. Der mit einer Rotations Achse erweiterte Lasersaur-Lasercutter er&ouml;ffnet v&ouml;llig neue M&ouml;glichkeiten in Verbindung mit Bambus. Diese wollen wir zusammen herausfinden und Faszinierendes erschaffen.</p>
						</div>
						<img class="left" src="http://placekitten.com/100/100">
						<p>Dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, r</p>
						<a class="course" href="mailto:balab@makershop.in">Anmelden</a>
					</div><div class="block">
						<h2>Workshop Bla</h2>
						<div class="intro clearfix">
							<div class="smallInfoBox">
								<p>Rodolfo Dolfio</p>
								<p>Montag, 26.10</p>
								<p>von 16.00 - 18.00 Uhr</p>
							</div>
							<p>consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,</p>
						</div>
						<img class="left" src="http://placekitten.com/100/100">
						<p>Dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, r</p>
						<a class="course" href="mailto:balab@makershop.in">Anmelden</a>
					</div><div class="block">
						<h2>Workshop Bla</h2>
						<div class="intro clearfix">
							<div class="smallInfoBox">
								<p>Rodolfo Dolfio</p>
								<p>Montag, 26.10</p>
								<p>von 16.00 - 18.00 Uhr</p>
							</div>
							<p>consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,</p>
						</div>
						<img class="left" src="http://placekitten.com/100/100">
						<p>Dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, r</p>
						<a class="course" href="mailto:balab@makershop.in">Anmelden</a>
					</div><div class="block">
						<h2>Workshop Bla</h2>
						<div class="intro clearfix">
							<div class="smallInfoBox">
								<p>Rodolfo Dolfio</p>
								<p>Montag, 26.10</p>
								<p>von 16.00 - 18.00 Uhr</p>
							</div>
							<p>consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,</p>
						</div>
						<img class="left" src="http://placekitten.com/100/100">
						<p>Dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, r</p>
						<a class="course" href="mailto:balab@makershop.in">Anmelden</a>
					</div>
				</article>
				<article id="kontakt" class="clearfix">
					<!-- Block mit Liste -->
					<h1>Kontakt</h1>
					<iframe class="responsiveMap" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ch/maps?q=St.+Alban-Anlage+66+-+4052+Basel&amp;ie=UTF8&amp;hq=&amp;hnear=Sankt+Alban-Anlage+66,+4052+Basel,+Basel-Stadt&amp;gl=ch&amp;t=m&amp;ll=47.553867,7.604342&amp;spn=0.007096,0.02444&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
					<div class="block simple">
						<ul>
							<li><h3>MakerShop</h3></li>
							<li>DieStrasse 26</li>
							<li>6666 D&ouml;t</li>
							<li>La Francce</li>
							<li>061/366 56 72</li>
							<li><a href="mailto:info@makershop.in">makeMeDoThis@makershop.in</a></li>
						</ul>
					</div><div class="block simple">
						<p>Dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, </p>
					</div>
				</article>
			</section>
			<footer>
			</footer> 
		</section>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
		<script src="js/plugins.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
