<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>makershop.in/mulhouse</title>

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<section id="main">
			<header class="clearfix">
				<a href="http://makershop.in/mulhouse">de</a>
				<a href="http://makershop.in/mulhouse/fr">fr</a>
				<img id="mainLogo" src="img/logos/logo2.png" alt="logo makerfare">
				<div id="menuContainer">
					<ul>
					</ul>
					<a href="#main">Nach oben</a> 
				</div>
			</header>
			<section id="content" role="main">
				<!-- <div id="sliderOuter">
					<ul id="slider" class="clearfix">
						<li>
							<img src="img/IMG_9745bearb.jpg">
							<div class="sliderInfo">
								<h3>Titel</h3>
								<p>dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec</p>
							</div>	
						</li>
						<li>
							<img src="img/IMG_9970bearb.jpg">
							<div class="sliderInfo">
								<h3>Titel</h3>
								<p>dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec</p>
							</div>	
						</li>
						<li>
							<img src="img/panorama1bearb.jpg">
							<div class="sliderInfo">
								<h3>Titel</h3>
								<p>dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec</p>
							</div>	
						</li>
					</ul>
				</div> -->
							
			</section>
			<footer>
				<p>
					<span>Benjamin Schmid, BA Prozessgestaltung, </span><span>Masterstudio Design, Steinentorstr. 30, 4051 Basel, </span><span>Tel. 41 79 517 14 32, </span><span><a href="mailto:contact@makershop.in">contact@makershop.in</a></span>
				</p>
			</footer> 
		</section>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
		<!-- //-beg- concat_js -->
		<script src="js/plugins.js"></script>
		<script src="js/main.js"></script>
		<!-- //-end- concat_js -->
	</body>
</html>
