@font-face {
    font-family: 'TitilliumText25L800wt';
    src: url('font/TitilliumText25L001-webfont.eot');
    src: url('font/TitilliumText25L001-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/TitilliumText25L001-webfont.woff') format('woff'),
         url('font/TitilliumText25L001-webfont.ttf') format('truetype'),
         url('font/TitilliumText25L001-webfont.svg#TitilliumText25L800wt') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TitilliumText25L400wt';
    src: url('font/TitilliumText25L003-webfont.eot');
    src: url('font/TitilliumText25L003-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/TitilliumText25L003-webfont.woff') format('woff'),
         url('font/TitilliumText25L003-webfont.ttf') format('truetype'),
         url('font/TitilliumText25L003-webfont.svg#TitilliumText25L400wt') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'TitilliumText25L250wt';
    src: url('font/TitilliumText25L004-webfont.eot');
    src: url('font/TitilliumText25L004-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/TitilliumText25L004-webfont.woff') format('woff'),
         url('font/TitilliumText25L004-webfont.ttf') format('truetype'),
         url('font/TitilliumText25L004-webfont.svg#TitilliumText25L250wt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TitilliumText25L1wt';
    src: url('font/TitilliumText25L005-webfont.eot');
    src: url('font/TitilliumText25L005-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/TitilliumText25L005-webfont.woff') format('woff'),
         url('font/TitilliumText25L005-webfont.ttf') format('truetype'),
         url('font/TitilliumText25L005-webfont.svg#TitilliumText25L1wt') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*--colors */
$gruen: #0d8991;
$gelb: #f5ad00;
$grau: #d4d3c8;
$weiss: #fff;
$schwarz: #000;
$font-header: 'TitilliumText25L800wt', sans-serif;
$font-bold: 'TitilliumText25L400wt', sans-serif;
$font-serif: 'TitilliumText25L250wt', Georgia, serif;
$font-light: 'TitilliumText25L1wt';

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color;
    background: rgba($color, $opacity);
}
@mixin inlineblock() {
    display: inline;
    zoom: 1;
    display: inline-block;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    margin-bottom: 5em;
    .transition {
        -webkit-transform: translatez(0);
        -webkit-transition: all 800ms cubic-bezier(0.77,0,0.175,1);
        -moz-transition: all 800ms cubic-bezier(0.77,0,0.175,1);
        -ms-transition: all 800ms cubic-bezier(0.77,0,0.175,1);
        -o-transition: all 800ms cubic-bezier(0.77,0,0.175,1);
        transition: all 800ms cubic-bezier(0.77,0,0.175,1);
        -webkit-transition-timing-function: cubic-bezier(0.77,0,0.175,1);
        -moz-transition-timing-function: cubic-bezier(0.77,0,0.175,1);
        -ms-transition-timing-function: cubic-bezier(0.77,0,0.175,1);
        -o-transition-timing-function: cubic-bezier(0.77,0,0.175,1);
        transition-timing-function: cubic-bezier(0.77,0,0.175,1);
    }
    #main {
        color: #424242;
        margin: 1em auto 2em auto;
        width: 80%;
        max-width: 900px;
        h1,
        h2,
        h3,
        h4, {
            font-family: $font-header;
            font-weight: normal;
        }
        header {
            width: 100%;
            #mainLogo {
                margin-bottom: 1em;
                float: right;
            }
            #menuContainer {
                clear: both;
                width: 100%;
               &.fixed {
                    position: fixed;
                    max-width: 900px;
                    background-color: #fff;
                    top: 0;
                    padding-top: 0.2em;
                    z-index: 10;
                    a {
                        display: block;
                    }
                } 
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    li {
                        width: 25%;
                        text-align: center;
                        @include inlineblock;
                        background: $grau;
                        border-left: 1px solid $weiss;
                        line-height: 1.7;
                        font-size: 1.3em;
                        &:first-child {
                            border-left: none;
                        }
                        &:hover {
                            background-color: $gruen;
                        }
                        a {
                            font-family: $font-header;
                            color: $weiss;
                            text-decoration: none;
                            padding: 0.6em 0;
                            display: block;
                            &:hover {
                                color: $gelb;
                            }
                        }
                    }
                    & + a {
                        display: none;
                        width: 100%;
                        text-align: center;
                        background: $grau;
                        margin: 2px 0 0 0;
                        color: $weiss;
                        font-family: $font-bold;
                        text-decoration: none;
                        &:hover {
                            color: $gelb;
                            background-color: $gruen;
                        }
                    }  
                }
            }      
        }
        #content {
            #sliderOuter {
                width: 100%;
                overflow: hidden;
                #slider {
                    list-style-type: none;
                    margin: 1em 0 0 0;
                    padding: 0;
                    li {
                        max-width: 900px;
                        width: 100%;
                        margin-bottom: 1em;
                        img {
                            max-width: 100%;
                        }
                        .sliderInfo {
                            padding: 1em;
                            @include background-opacity($grau, 0.85);
                            h3 {
                                margin-top: 0;
                            }
                            p {
                                margin-bottom: 0;
                                font-family: $font-bold;
                                font-size: 0.91em;
                            }
                        }
                    }
                }
                &.sliderReady {
                    #slider {
                        width: 500%;
                        -webkit-transform: translatez(0);
                        -webkit-transition: all 800ms cubic-bezier(0.77,0,0.175,1);
                        -moz-transition: all 800ms cubic-bezier(0.77,0,0.175,1);
                        -ms-transition: all 800ms cubic-bezier(0.77,0,0.175,1);
                        -o-transition: all 800ms cubic-bezier(0.77,0,0.175,1);
                        transition: all 800ms cubic-bezier(0.77,0,0.175,1);
                        -webkit-transition-timing-function: cubic-bezier(0.77,0,0.175,1);
                        -moz-transition-timing-function: cubic-bezier(0.77,0,0.175,1);
                        -ms-transition-timing-function: cubic-bezier(0.77,0,0.175,1);
                        -o-transition-timing-function: cubic-bezier(0.77,0,0.175,1);
                        transition-timing-function: cubic-bezier(0.77,0,0.175,1);
                        li {
                            float: left;
                            margin-bottom: 0;
                            position: relative;
                            .sliderInfo {
                                position: absolute;
                                left: 0px;
                                bottom: 0px;
                                opacity: 0;
                                -webkit-transform: translatez(0);
                                -webkit-transition: all 800ms cubic-bezier(0.77,0,0.175,1);
                                -moz-transition: all 800ms cubic-bezier(0.77,0,0.175,1);
                                -ms-transition: all 800ms cubic-bezier(0.77,0,0.175,1);
                                -o-transition: all 800ms cubic-bezier(0.77,0,0.175,1);
                                transition: all 800ms cubic-bezier(0.77,0,0.175,1);
                                -webkit-transition-timing-function: cubic-bezier(0.77,0,0.175,1);
                                -moz-transition-timing-function: cubic-bezier(0.77,0,0.175,1);
                                -ms-transition-timing-function: cubic-bezier(0.77,0,0.175,1);
                                -o-transition-timing-function: cubic-bezier(0.77,0,0.175,1);
                                transition-timing-function: cubic-bezier(0.77,0,0.175,1);
                            }
                            &:hover {
                                .sliderInfo {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            article {
                padding: 0 0 0.6em 0;
                margin: 0 auto;
                border-bottom: 1px solid $grau;
                h1 {
                    color: $gelb;
                    font-size: 3.4em;
                    padding-left: 0.55em;
                    margin: 1.2em 0 0.4em 0;
                }
                h2 {
                    font-size: 1.38em;
                    padding-left: 0.275em;
                }
                p {
                    font-size: 0.91em;
                    font-family: $font-serif;
                    margin-top: 0;
                }
                img {
                    margin: 0.3em 0.5em 0.5em 0.5em;
                    &.left {
                        float: left;
                        margin-left: 0;
                    }
                    &.right {
                        float: right;
                        margin-right: 0;
                    }
                    &.full {
                        max-width: 100%;
                        margin: 0.5em 0;
                    }
                }
                .block {
                    width: 48.5%;
                    margin-right: 3%;
                    @include inlineblock;
                    vertical-align: top;
                    &.even {
                        margin-right: 0;
                    }
                    &.inactive {
                        overflow: hidden;
                        height: 4em;
                        h2 {
                            background-color: $grau;
                            color: $weiss;
                            &:hover {
                                color: $gelb;
                                background-color: $gruen;
                            }
                        }
                    }
                    &.clickable h2 {
                        cursor: pointer;
                    }
                    h2 {
                        color: $gelb;
                        text-align: center;
                        padding: 0.5em 0;
                        font-size: 1.2em;
                        background-color: $gruen;
                    }
                    ul {
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        li {
                            font-family: $font-serif;
                            margin: 0 0 0.7em 0;
                            & > * {
                                margin-left: 1em;
                            }
                            span {
                                margin: 0 0 0.2em 0;
                                font-family: $font-bold;
                                @include inlineblock;
                                width: 25%;
                            }
                            p {
                                margin: 0 0 0 26%;
                                padding: 0;
                            }
                            ul {
                                margin: 0;
                                li {
                                    margin: 0;
                                    padding: 0;
                                }
                            }
                        }
                    }
                    .smallInfoBox {
                        float: right;
                        background-color: $grau;
                        padding: 1em;
                        margin: 0 0 1em 1em;
                        line-height: 1;
                        font-size: 0.88em;
                        font-family: $font-light;
                        p {
                            margin: 0.1em;
                        }
                    }
                    .course {
                        display: block;
                        background: $grau;
                        width: 40%;
                        margin: 1em auto;
                        padding: 0.2em;
                        color: $weiss;
                        text-decoration: none;
                        text-align: center;
                        font-family: $font-header;
                        &:hover {
                            background-color: $gruen;
                            color: $gelb;
                        }
                    }
                }
                &#workshops {
                    .intro > p {
                        margin-top: 0;
                        font-family: $font-bold;
                        font-size: 1em;
                    }
                }
                &#kontakt {
                    ul {
                        margin: 0 0 2em 1em;
                        li {
                            font-family: $font-header;
                        }
                        h3 {
                            margin-top: 0px;
                        }
                    }
                    .responsiveMap {
                        width: 100%;
                        height: 20em;
                        margin: 0 0 1em 0;
                    }
                }
                &#partner {
                    #logos {
                        width: 100%;
                        padding: 0;
                        margin: 0;
                        list-style-type: none;
                        li {
                            @include inlineblock;
                            img {
                                max-width: 100%;
                                max-height: 100%;
                                margin: 0 auto;
                                display: block;
                            }
                            a {
                                display: block;
                            }
                            &.row1 {
                                width: 33%;
                            }
                            &.row1,
                            &.row2,
                            &.row3 {
                                margin-bottom: 1.2em;
                            }
                            &#tri {
                                width: 41%;
                            }
                            &#iba {
                                width: 58%;
                            }
                            &#eu {
                                width: 20%;
                            }
                            &#fhnw {
                                width: 79%;
                            }
                        }
                    }
                }
            }
        }
        footer {
            width: 100%;
        }
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
