/* HTML5 Boilerplate  What follows is the result of much research on cross-browser styling. Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal, Kroc Camen, and the H5BP dev community and team. */
/* ========================================================================== Base styles: opinionated defaults ========================================================================== */
html, button, input, select, textarea { color: #222; }

body { font-size: 1em; line-height: 1.4; }

/* Remove text-shadow in selection highlight: h5bp.com/i These selection rule sets have to be separate. Customize the background color to match your design. */
::-moz-selection { background: #b3d4fc; text-shadow: none; }

::selection { background: #b3d4fc; text-shadow: none; }

/* A better looking default horizontal rule */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

/* Remove the gap between images and the bottom of their containers: h5bp.com/i/440 */
img { vertical-align: middle; }

/* Remove default fieldset styles. */
fieldset { border: 0; margin: 0; padding: 0; }

/* Allow only vertical resizing of textareas. */
textarea { resize: vertical; }

/* ========================================================================== Chrome Frame prompt ========================================================================== */
.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

/* ========================================================================== Author's custom styles ========================================================================== */
/*--colors */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body #main { color: #424242; margin: 2em auto 0 auto; width: 80%; max-width: 900px; }
body #main header { width: 100%; }
body #main header img { position: relative; right: 57px; }
body #main header ul { list-style-type: none; margin: 0; padding: 0; width: 100%; }
body #main header ul li { width: 25%; text-align: center; display: inline; zoom: 1; display: inline-block; background: #d4d3c8; border-left: 1px solid white; line-height: 1.7; font-size: 1.3em; }
body #main header ul li:first-child { border-left: none; }
body #main header ul li:hover { background-color: #0d8991; }
body #main header ul li a { font-weight: bold; color: white; text-decoration: none; padding: 0.6em 0; display: block; }
body #main header ul li a:hover { color: #f5ad00; }
body #main #content article { margin: 5px auto; }
body #main #content article h1 { color: #f5ad00; font-size: 3.4em; padding-left: 0.55em; margin: 0.67em 0 0.2em 0; border-bottom: 1px solid #d4d3c8; }
body #main #content article h2 { font-size: 1.38em; padding-left: 0.275em; }
body #main #content article p { font-size: 0.91em; font-family: Georgia, serif; }
body #main #content article img { margin: 0.5em; }
body #main #content article img.left { float: left; margin-left: 0; }
body #main #content article img.right { float: right; margin-right: 0; }
body #main #content article img.full { margin: 0.5em 0; }
body #main #content article .block { width: 48.5%; margin-right: 3%; display: inline; zoom: 1; display: inline-block; border: 1px solid #d4d3c8; background-color: #d4d3c8; }
body #main #content article .block:nth-child(2n) { margin-right: 0; }
body #main #content article .block h2 { text-align: center; border-bottom: 1px solid #0d8991; padding: 0.75em 0; margin: 0; }
body #main #content article .block ul { list-style-type: none; margin: 0; padding: 0; }
body #main footer { width: 100%; }

/* ========================================================================== Helper classes ========================================================================== */
/* Image replacement */
.ir { background-color: transparent; border: 0; overflow: hidden; /* IE 6/7 fallback */ *text-indent: -9999px; }

.ir:before { content: ""; display: block; width: 0; height: 150%; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Clearfix: contain floats  For modern browsers 1. The space content is one way to avoid an Opera bug when the `contenteditable` attribute is included anywhere else in the document. Otherwise it causes space to appear at the top and bottom of elements that receive the `clearfix` class. 2. The use of `table` rather than `block` is only necessary if using `:before` to contain the top-margins of child elements. */
.clearfix:before, .clearfix:after { content: " "; /* 1 */ display: table; /* 2 */ }

.clearfix:after { clear: both; }

/* For IE 6/7 only Include this rule to trigger hasLayout and contain floats. */
.clearfix { *zoom: 1; }

/* ========================================================================== EXAMPLE Media Queries for Responsive Design. These examples override the primary ('mobile first') styles. Modify as content requires. ========================================================================== */
@media only screen and (min-width: 35em) { /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) { /* Style adjustments for high resolution devices */ }
/* ========================================================================== Print styles. Inlined to avoid required HTTP connection: h5bp.com/r ========================================================================== */
@media print { * { background: transparent !important; color: #000 !important; /* Black prints faster: h5bp.com/s */ box-shadow: none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  /* Don't show links for images, or javascript/internal links */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; /* h5bp.com/t */ }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
